<% content_for :title, "Cleaner Sign Up" %>
<% if @cleaner.errors.any? %>
<div class="ui error message center">
  <i class="close icon"></i>
  <div class="header">
    There <%= @user.errors.count > 1 ? "are" : "is" %> <%= pluralize(@user.errors.count, "error") %> with your submission
  </div>
  <ul class="list">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui middle aligned center aligned grid">

  <div class="column">
    

    <h2 class="ui teal image header">
      <%= image_tag 'spring-cleaners-logos/profile.png', alt: 'default', class: 'ui fluid image' %>
      <div class="content">
        Cleaner Information
      </div>
    </h2>
    
    <%= form_with model: @cleaner, class: "ui form", local: true do |f| %>

      <div class="ui segment">

        <div class="two fields">

          <%= f.label :name %>
          
          <div class="field">
            <%= f.text_field :first_name, :placeholder => 'First name' %>
          </div>

          <div class="field">
            <%= f.text_field :last_name, :placeholder => 'Last name' %>
          </div>

        </div>

        <div>
          <%= f.label :phone %>
          <%= f.telephone_field :phone, :placeholder => 'Phone' %>
        </div>

        <div>
          <%= f.label :whatsapp %>
          <%= f.telephone_field :whatsapp, :placeholder => 'Whatsapp' %>
        </div>

        <div class="two fields">

          <%= f.fields_for :address do |addr| %>
          
            <%= addr.label :neighborhood %>
            <div class="field">
              <%= addr.text_field :neighborhood %>
            </div>
            
            <%= addr.label :city %>
            <div class="field">
              <%= addr.text_field :city %>
            </div>

          <% end %>

        </div>

        <%= f.label :institution_name %>

        <div class="field">
          
          <%= f.text_field :institution_name, list: "institutions_autocomplete" %>
          <datalist id="institutions_autocomplete">
            <% Institution.all.each do |yeshiva| %>
              <option value="<%= yeshiva.name %>">
            <% end %>
          </datalist>

        </div>

        <%= f.submit "Submit", :class => "ui fluid large teal submit button" %>
      </div>

      <div class="ui error message"></div>
      
      <div class="ui segment">Part 2 of 2</div>

    <% end %>

  </div>

</div>