<%= content_for(:title, "Messages") %>


<div class="ui segment">
  <h2 class="ui center aligned teal header">
    <div class="content">
      Conversations
    </div>
  </h2>
  <div class="ui ">
    <div class="ui message">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to conversation_messages_path(conversation), :class => "ui" do %> 
            <div class="header"><%= recipient.full_name %></div><p><%= conversation.messages.last.body %></p>
          <% end %> 
        <% end %>
      <% end %>
    </div>
 </div>
</div>
<div class="ui segment">
  <% if current_user.sub_class == "Cleaner" %>
    <h3 class="ui center aligned teal header">My Customers</h3>
  <% else %>
    <h3 class="ui center aligned teal header">My Cleaners</h3>
  <% end %>
    <div class="ui cards">
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <div class="card">
            <div class="content"><div class="header"><%= user.full_name %></div></div>
            <div class="extra content">
              <%= link_to 'Message', new_conversation_path(sender_id: current_user.id, recipient_id: user.id), :class => "ui button" %> 
            </div>
          </div>
        <% end %>
    </div>
    <% end %>
</div>