<h1> Sign Up </h1>
<%= form_with model: @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, :placeholder => 'E-mail address' %><br>

  <%= f.label :password %>
  <%= f.password_field :password, :placeholder => 'Password' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %><br>

  <%= f.submit "Sign up" %>
<% end %>
<div>
  <div>
    or sign up using
  </div>

  <div class="ui mini images">
    <a href="#"><%= image_tag 'facebook-icon.svg', alt: 'Facebook icon', class: 'ui image' %></a> <a href="#"><%= image_tag 'twitter-icon.svg', alt: 'Twitter icon', class: 'ui image' %></a> <a href="#"><%= image_tag 'google-icon.png', alt: 'Google icon', class: 'ui image' %></a> <a href="#"><%= image_tag 'amazon-icon.png', alt: 'Amazon icon', class: 'ui image' %></a>
  </div>
</div>