<%= title("Sign Up") %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, :placeholder => 'E-mail address' %><br>

  <%= f.label :password %>
  <%= f.password_field :password, :placeholder => 'Password' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %><br>

  <label>Are you a cleaner or customer?</label>
  <%= f.select :sub_class, User::SUB_CLASSES, include_blank: true %><br>

  <%= f.submit "Next" %>
<% end %>
Page 1 of 2
<div>
  <div>
    or sign up using
  </div>

  <div class="ui mini images">
    <a href="#"><%= image_tag 'facebook-icon.svg', alt: 'Facebook icon', class: 'ui image' %></a> <a href="#"><%= image_tag 'google-icon.png', alt: 'Google icon', class: 'ui image' %></a> <a href="#"><%= image_tag 'amazon-icon.png', alt: 'Amazon icon', class: 'ui image' %></a>
  </div>
</div>

<a href="/login">Already signed up? Login to Spring Cleaners</a>
