<% content_for :title, "Sign Up" %>
<% if @user.errors.any? %>
<div class="ui error message center">
  <i class="close icon"></i>
  <div class="header">
    There <%= @user.errors.count > 1 ? "are" : "is" %> <%= pluralize(@user.errors.count, "error") %> with your submission
  </div>
  <ul class="list">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui middle aligned center aligned grid">

  <div class="column">

    <h2 class="ui teal image header">
      <%= image_tag 'spring-cleaners-logos/profile.png', alt: 'default', class: 'ui fluid image' %>
      <div class="content">
        Sign Up
      </div>
    </h2>

    <%= form_with model: @user, class: "ui large form", local: true do |f| %>

      <div class="ui stacked segment">

        <div class="field">
          <%= f.label :email %>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, :placeholder => 'E-mail address', :value => "#{@user.email}" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, :placeholder => 'Password' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
          </div>
        </div>

        <div class="field">
          <%= f.label "Are you a cleaner or customer?" %>
          <div class="ui left icon input">
            <%= f.select :sub_class, User::SUB_CLASSES, :class => "ui fluid dropdown",include_blank: true %>
          </div>
        </div>
        
        <%= f.submit "Next", :class => "ui large teal submit button" %>

      </div>

      <div class="ui error message"></div>
      
      <div class="ui segment">Part 1 of 2</div>

      <div class="ui">
        
        or sign up using  

        <%= link_to "/auth/facebook", class: "ui circular facebook icon button" do %> 
          <i class="facebook icon"></i>  
        <% end %> 
        <%= link_to "/auth/google_oauth2", class: "ui circular google plus icon button" do %> 
          <i class="google icon"></i>  
        <% end %> 

      </div>
    <% end %>

    <div class="ui message">
      Already signed up? <a href="/login">Log In</a> to Spring Cleaners
    </div>

  </div>

</div>
