<div class="ui two column very relaxed stackable grid">

  <div class="column">
    <%= image_tag 'spring-cleaners-logos/default.png', alt: 'default', class: 'ui fluid image' %>
  </div>

  <div class="middle aligned column">


    <div class="form">

      <%= form_with url: sessions_path, method: "post", html: {class: "ui center form"}, local: true do |f| %>
      
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => 'E-mail address' %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => 'Password' %>
        </div> 

        <div class="ui buttons large fluid" id="buttons">
          <%= f.submit "Log In", :class => 'ui button' %>
          <div class="or"></div>
          <%= link_to "Sign Up", signup_path, :class => "ui teal button" %>
        </div>

        <div class="ui error message"></div>
        <div class="ui hidden divider"></div>

        <div class="ui">
          
          or sign up using  

          <%= link_to "/auth/facebook", class: "ui circular facebook icon button" do %> 
            <i class="facebook icon"></i>  
          <% end %> 
          <%= link_to "/auth/google_oauth2", class: "ui circular google plus icon button" do %> 
            <i class="google icon"></i>  
          <% end %> 

        </div>

      <% end %>

      <div class="ui message">
        <h4>Are you ready for the Spring?</h4>
        Get a cleaner today.
        <h3><%= link_to "Sign up", signup_url %> or <%= link_to "Log in", login_url %></h3>
      </div>
      
    </div>
  
  </div>

</div>