<% content_for :title, "My Current Jobs" %>
<h2 class="ui center aligned teal header">
  <div class="content">
    My Current Jobs
  </div>
</h2>

<div class="ui form">
  <%= form_with(model: @cleaner, url: "/cleaners/#{@cleaner.id}/appointments", method: "patch", local: true) do |f| %>
    <table class="ui compact celled definition table">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Time Slot</th>
          <th>Address</th>
          <th>Details</th>
          <th>Customer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox">
              <%= f.check_box appointment.id %><label></label>
            </div>
          </td>
          <td><%= appointment.date %></td>
          <td><%= appointment.time_slot %></td>
          <td><%= appointment.location %></td>
          <td><%= appointment.details %></td>
          <td><%= link_to appointment.customer.full_name, appointment_path(appointment) %></td>
          <td><%= link_to "Cancel", cleaner_appointment_path(@cleaner, appointment), method: :delete, :disabled => true, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th></th>
          <th colspan="7">
            <%= f.submit "Mark Complete", :class => 'ui small button' %>
          </th>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>