<% content_for :title, "Update Cleaning Request" %>
<h2 class="ui center aligned teal header">
  <div class="content">
    Update Cleaning Request
  </div>
</h2>
<% if @appointment.errors.any? %>
<div class="ui error message center">
  <i class="close icon"></i>
  <div class="header">
    There <%= @user.errors.count > 1 ? "are" : "is" %> <%= pluralize(@user.errors.count, "error") %> with your submission
  </div>
  <ul class="list">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="ui form">
    <%= form_with(model: [@customer, @appointment], local: true) do |f| %>
        <%= render 'form' , f: f  %>
        <%= f.submit "Update Cleaning Request", :placeholder => 'Write details here...', :class => "ui form button" %>
    <% end %>
</div>