<%= title("My Cleaning Schedule") %>
<table class="ui compact celled table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Details</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
        <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.time_slot %></td>
            <td><%= appointment.details %></td>
            <td><%= appointment.status %></td>
            <td><%= link_to "Edit", edit_appointment_path(appointment) %></td>
            <td><%= link_to "Cancel", appointment, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="5">
        <%= link_to "Schedule another Cleaner", new_customer_appointment_path(@customer), :class => "ui button" %>
      </th>
    </tr>
    </tfoot>
</table>