<%= content_for(:title, "Schedule a Cleaner") %>
<h2 class="ui center aligned teal header">
  <div class="content">
    Schedule a Cleaner
  </div>
</h2>
<% if @appointment.errors.any? %>
<div class="ui error message center">
  <i class="close icon"></i>
  <div class="header">
    There <%= @appointment.errors.count > 1 ? "are" : "is" %> <%= pluralize(@appointment.errors.count, "error") %> with your submission
  </div>
  <ul class="list">
    <% @appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="ui form">
    <%= form_with(model: [@customer, @appointment], local: true) do |f| %>
        <%= render 'form' , f: f  %>
        <%= f.submit "Submit Cleaning Request", :class => "ui form button" %>
    <% end %>
</div>