<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'spring-cleaners-logos/profile.png' %>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        <%= "Spring Cleaners" %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-action="<%= action_name %>" data-controller="<%= controller_name %>" class="<%= controller_name %>">
    <div class="ui secondary  menu">
      <a class="item" href="/">
        <%= image_tag 'spring-cleaners-logos/profile.png', alt: 'Logo', class: 'image' %>
        Spring Cleaners
      </a>
      <div class="right menu">
        <%= link_to conversations_path, class: "item" do %>
          <i class="envelope icon"></i>
          Messages <%= "(#{current_user.unread_count} Unread)" if current_user.unread_count > 0 %>
        <% end %>
        <%= link_to "#", class: "item" do %>
          <i class="user icon"></i>
          My Account
        <% end %>
        <%= link_to "Logout", logout_path, class: "ui item" %>
      </div>
    </div>

    <% flash.each do |type, msg| %>
    <div class="ui <%= type == "notice" ? "teal" : "error" %> message">
    <i class="close icon"></i>
        <%= msg %>
      </div>
    <% end %>


    <%= yield %>

  </body>
</html>
